.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "centerLeft centerRight";
  min-height: 100vh;
}
.left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: "centerRight";
}
.right form {
  width: 400px;
  margin: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(20%, 80vmax);
    grid-template-areas:
      "centerLeft"
      "centerRight";
  }

  .right form {
    width: 100%;
    margin: 0 3rem;
  }
}
