.container {
  min-height: 100vh;
  position: relative;
  display: block;
  background-color: #e5e5e5;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background: #393939;
  width: 100%;
}
