.item {
  display: inline-block;
  position: relative;
}
.item:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -8px;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
