.card {
  display: flex;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}
.cardItem {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}
.cardTitle {
  display: flex;
  flex: 1 1 auto;
  padding: 1rem;
  line-height: 1.5em;
}
.cardInfo {
  display: flex;
  flex: 1 1 auto;
  padding: 1rem;
  line-height: 1.5em;
}
.cardImage {
  height: 200px;
  overflow: hidden;
  border-radius: 6px 6px 0px 0px;
}
.img {
  width: 100%;
}
@media (min-width: 40rem) {
  .card {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .card {
    width: 33.3%;
  }
}
