/* @import url('http://fonts.cdnfonts.com/css/open-sans-condensed-2'); */
@import "./antd.css";
@import "./antd-mod.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Open Sans Condensed Bold";
    src: url("../assets/font/OpenSans-CondBold.ttf");
}

@font-face {
    font-family: "Open Sans Condensed Light";
    src: url("../assets/font/OpenSans-CondLight.ttf");
}
@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../assets/font/Poppins/Poppins-Regular.ttf");
}
body {
    min-height: 100vh;
}
a {
    color: inherit;
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
input {
    width: 100%;
}
@media screen and (max-width: 360px) {
    html,
    body {
        font-size: 9px;
    }
}

@media screen and (min-width: 360px) and (max-width: 411px) {
    html,
    body {
        font-size: 12px;
    }
}

@media screen and (min-width: 411px) and (max-width: 769px) {
    html,
    body {
        font-size: 12px;
    }
}

#__next {
    height: 100%;
    width: 100vw;
}

.ant-select-selector {
    background-color: #ebeffa !important;
    border: none !important;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    html,
    body {
        font-size: 12px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    html,
    body {
        font-size: 12px;
    }
}

.ant-modal-body,
.ant-modal-close-x {
    background-color: white !important;
}

.ant-modal-close-x {
    opacity: 0.2;
}

.ant-modal-content {
    border-radius: 10px !important;
}
.person {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 280px;
}

.container2 {
    border-radius: 50%;
    height: 312px;
    -webkit-tap-highlight-color: transparent;
    transform: scale(0.48);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 400px;
}

.container2:hover {
    transform: scale(0.54);
}

.container2-inner {
    clip-path: path(
        "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
    );
    position: relative;
    transform-origin: 50%;
    top: -200px;
}

.circle {
    background-color: #ebeffa;
    border-radius: 50%;
    cursor: pointer;
    height: 380px;
    left: 10px;
    pointer-events: none;
    position: absolute;
    top: 210px;
    width: 380px;
}

.img {
    pointer-events: none;
    position: relative;
    transform: translateY(20px) scale(1.15);
    transform-origin: 50% bottom;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container2:hover .img {
    transform: translateY(0) scale(1.2);
}

.img1 {
    right: 50px;
    top: 200px;
    width: 500px;
}

.img2 {
    left: -46px;
    top: 174px;
    width: 444px;
}

.img3 {
    left: -16px;
    top: 144px;
    width: 466px;
}

.divider {
    background-color: #304ac1;
    height: 1px;
    width: 160px;
}

.name2 {
    color: #404245;
    font-size: 24px;
    font-weight: 600;
    margin-top: 8px;
    text-align: center;
}

.name2:hover {
    color: #304ac1;
}

.title2 {
    color: #6e6e6e;
    font-family: arial;
    font-size: 14px;
    font-style: italic;
    margin-top: 4px;
}
.person {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 280px;
}

.container2 {
    border-radius: 50%;
    height: 312px;
    -webkit-tap-highlight-color: transparent;
    transform: scale(0.48);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 400px;
}

.container2:hover {
    transform: scale(0.54);
}

.container2-inner {
    clip-path: path(
        "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
    );
    position: relative;
    transform-origin: 50%;
    top: -200px;
}

.circle {
    background-color: #ebeffa;
    border-radius: 50%;
    cursor: pointer;
    height: 380px;
    left: 10px;
    pointer-events: none;
    position: absolute;
    top: 210px;
    width: 380px;
}

.img {
    pointer-events: none;
    position: relative;
    transform: translateY(20px) scale(1.15);
    transform-origin: 50% bottom;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 200px;
    width: 500px;
}

.container2:hover .img {
    transform: translateY(0) scale(1.2);
}

.img2 {
    left: -46px;
    top: 174px;
    width: 444px;
}

.img3 {
    left: -16px;
    top: 144px;
    width: 466px;
}

.divider {
    background-color: #304ac1;
    height: 1px;
    width: 160px;
}

.name2 {
    color: #404245;
    font-size: 24px;
    font-weight: 600;
    margin-top: 8px;
    text-align: center;
}

.name2:hover {
    color: #304ac1;
}

.title2 {
    color: #6e6e6e;
    font-family: arial;
    font-size: 14px;
    font-style: italic;
    margin-top: 4px;
}
.ant-drawer-content {
    width: 100vw !important;
    position: absolute;
    right: 0;
}
.ant-drawer-mask {
    position: relative;
    /* justify-content: end !important; */
}
