/* @import url('http://fonts.cdnfonts.com/css/open-sans-condensed-2'); */
@import "./antd.css";
@import "./antd-mod.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Open Sans Condensed Bold";
    src: url("../assets/font/OpenSans-CondBold.ttf");
}

@font-face {
    font-family: "Open Sans Condensed Light";
    src: url("../assets/font/OpenSans-CondLight.ttf");
}
@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../assets/font/Poppins/Poppins-Regular.ttf");
}
a {
    color: inherit;
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 360px) {
    html,
    body {
        font-size: 9px;
    }
}

@media screen and (min-width: 360px) and (max-width: 411px) {
    html,
    body {
        font-size: 12px;
    }
}

@media screen and (min-width: 411px) and (max-width: 769px) {
    html,
    body {
        font-size: 12px;
    }
}

#__next {
    height: 100%;
    width: 100vw;
}

.ant-select-selector {
    background-color: #ebeffa !important;
    border: none !important;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    html,
    body {
        font-size: 12px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    html,
    body {
        font-size: 12px;
    }
}

.ant-modal-body, .ant-modal-close-x{
    background-color: white !important;
}


.ant-modal-close-x{
    opacity: 0.2;
}

.ant-modal-content{
    border-radius: 10px !important;
}
.ant-drawer-content{
    width: 100vw !important;
    position: absolute;
    right: 0;
}
.ant-drawer-mask{
    position: relative;
    /* justify-content: end !important; */
}